@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: 	darkgray;
    font-family: Nunito, Helvetica, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#innerContainer{
    width: 1280px;
    display:flex;
    flex-wrap: wrap;
    /* border: 1px solid; */
    gap: 45px;
    align-items: center;
    justify-content: center;
}

#playerContainer {
    width: 288px;
    height: 415px;
    display:flex;
    flex-wrap: wrap;  
}

#player {
    width: 288px;
    height: 360px;
    display:flex;
    flex-wrap: wrap;  
    background-image:  url("img/player.png");
}

#playerTxtbox {
    width: 288px;
    height: 55px;
    display:flex;
    flex-wrap: wrap;  
    background-color: antiquewhite;
}

#enemyContainer {
    width: 288px;
    height: 415px;
    display:flex;
    flex-wrap: wrap;  
}

#enemy {
    width: 288px;
    height: 360px;
    display:flex;
    flex-wrap: wrap;  
}

#enemyTxtbox {
    width: 288px;
    height: 55px;
    display:flex;
    flex-wrap: wrap;  
    background-color: antiquewhite;
}

#grid {
    width: auto;
    display:grid;
    grid-template-columns: repeat(5, 100px) ;
    gap: 5px;
}

.hpText {
    width: 288px;
    height: 30px;
    display:flex;
    flex-wrap: wrap;
}

.statusText {
    width: 288px;
    height: 25px;
    display:flex;
    flex-wrap: wrap;
}

 